<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="User login page" />
    <meta name="author" content="" />

	<title>Academic Social Network Platform - public profile</title>

	<!-- jquery -->
	<script type="text/javascript" src="../static/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../static/jquery/jquery-migrate-3.0.1.min.js"></script>
	<!-- jquery-validation -->
	<script type="text/javascript" src="../static/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../static/jquery-validation-1.17.0/dist/localization/messages_zh.min.js"></script>
	<!-- bootstrap-3.3.7 -->
	<link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- font-awesome-4.7.0 -->
	<link href="../static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<!-- text fonts -->
	<link rel="stylesheet" href="../static/common/login/ace-fonts.css" />
	<!-- ace styles -->
	<!-- <link rel="stylesheet" href="../static/common/login/ace.css" /> -->

    <!-- vue -->
    <script src="../static/vue/js/vue.js" type="text/javascript"></script>

    <!-- bootstrap-hover-dropdown -->
    <script src="../static/bootstrap-hover-dropdown/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>

    <!-- echarts -->
    <script src="../static/echarts/js/echarts.min.js"></script>

    <!-- footable -->
	<link href="../static/footable/css/footable.core.css" type="text/css" rel="stylesheet" />
	<script src="../static/footable/js/footable.all.min.js"></script>

    <!-- sweetalert -->
    <link href="../static/sweetalert/css/sweetalert.css" rel="stylesheet">
    <script src="../static/sweetalert/js/sweetalert.min.js"></script>

    <link href="../static/common/animate.css" rel="stylesheet">
    <link href="../static/common/style.css" rel="stylesheet">
    <link href="../static/common/style2.css" rel="stylesheet">

    <style type="text/css">
    	.dl-horizontal dt {
    		width: 80px;
    	}
    	.dl-horizontal dd {
    		margin-left: 100px;
    	}
    </style>
</head>
<body class="gray-bg">

	<div class="navbar-wrapper">
	    <nav class="navbar navbar-default navbar-fixed-top white-bg" role="navigation">
	        <div class="container" id="status">
				<div class="navbar-header">
                    <a class="navbar-brand" href="/user/home" style="margin-left: 0px;padding: 7.5px 0px;">
                    	<img src="../static/common/img/logo.png" height="40px" />
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right" style="margin-right: -40px;" v-if="loginStatus">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="/user/private_profile" data-hover="dropdown" style="padding: 0px 0px;min-height: 0px;" title="用户">
                            <img alt="image" class="img-circle" :src="avatarSrc" width="40px" height="40px">
                            <strong>{{ firstName }}&nbsp;{{ lastName }}</strong>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" style="margin-top: 10px;min-width: 100px;">
                            <li class="pull-right">
                                <div href="#" style="padding: 3px 3px;margin: 4px;line-height: 25px;font-size: 14px;">{{ email }}</div>
                            </li>
                        </ul>
                    </li>
                    <span style="padding:15px 0px 5px 0px;margin: 0px 2px 0px 6px;border-left: 1px solid #999c9e;font-size: 0;"></span>
                    <li>
                        <a title="注销" href="/api/logout">
                            <i class="fa fa-sign-out fa-lg"></i> Log out
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right" style="margin-right: -40px;" v-else>
                    <li>
                        <a title="注册" href="/user/regist">
                            <i class="fa fa-registered fa-lg"></i> Register
                        </a>
                    </li>
                    <span style="padding:15px 0px 5px 0px;margin: 0px 2px 0px 6px;border-left: 1px solid #999c9e;font-size: 0;"></span>
                    <li>
                        <a title="登录"  href="/user/login">
                            <i class="fa fa-sign-in fa-lg"></i> Log in&nbsp;&nbsp;&nbsp;
                        </a>
                    </li>
                </ul>
	        </div>
	    </nav>
	</div>

	<div class="wrapper wrapper-content" style="padding-top: 100px;">
		<div class="container" id="author_profile">

			<div class="row">
				<div class="col-lg-12 animated fadeInDown">
					<div class="ibox">
	            		<div class="ibox-content">
	            			<div class="row">
		            			<div class="col-md-6">
			                        <div class="widget-head-color-box navy-bg p-lg text-center">
			                            <div class="m-b-md">
				                            <h2 class="font-bold no-margins">
				                                {{ author_name }}
				                            </h2>
			                            </div>
			                            <img :src="author_avatarSrc" class="img-circle circle-border m-b-md" alt="profile" width="140px" height="140px">
			                            <div v-show="loginStatus">
			                            	<div class="btn-group" v-if="isFollow" v-on:click="toUnfollow(authorID)" id="btn-follow">
			                            		<a class="btn btn-sm btn-white" style="background:transparent;">
							                    	<i class="fa fa-user-times"></i> Following
							                    </a>
							                </div>
							                <div class="btn-group" v-else v-on:click="toFollow(authorID)">
							                    <a class="btn btn-sm btn-white" style="background:transparent;">
							                    	<i class="fa fa-user-plus"></i> Follow
							                    </a>
							                </div>
			                            </div>
			                        </div>
			                        <div class="widget-text-box">
			                            <div class="text-center">
			                            	<a href="#tab-1" id="toTab1"><small class="label label-danger"><i class="fa fa-hand-paper-o"></i> {{ paper_list_total }} 发表</small></a> |
			                                <a href="#tab-2" id="toTab2"><small class="label label-info"><i class="fa fa-hand-paper-o"></i> {{ following_list_total }} 关注</small></a> |
			                                <a href="#tab-3" id="toTab3"><small class="label label-warning"><i class="fa fa-hand-paper-o"></i> {{ followed_list_total }} 粉丝</small></a> 
			                            </div>
			                        </div>
			                    </div>

			                    <div class="col-md-6" style="margin-top: 10px;">
			                    	<dl class="dl-horizontal" style="font-size: 16px;">
                                        <dt>姓名:</dt> <dd>{{ author_name }}&nbsp;{{ author_name_zh }}</dd>
                                        <div class="hr-line-dashed"></div>
                                        <dt>性别:</dt> <dd>{{ author_gender }}</dd>
                                        <div class="hr-line-dashed"></div>
                                        <dt>学位:</dt> <dd>{{ author_degree }}</a> </dd>
                                        <div class="hr-line-dashed"></div>
                                        <dt>所属机构:</dt> <dd>{{ author_department }}</dd>
                                        <div class="hr-line-dashed"></div>
                                        <dt>地址:</dt> <dd>{{ author_address }}</dd>
                                        <div class="hr-line-dashed"></div>
                                        <dt>电话:</dt> <dd>{{ author_telephone }}</dd>
                                    </dl>
			                    </div>
			                    <div class="col-md-12" style="margin-top: 20px;">
			                        <div class="ibox-content">
										<h3 class="tag-title">Ta感兴趣的领域</h3>

			                            <ul class="tag-list" style="padding: 0" v-for="item in tagSource">
			                                <li><a v-on:click="toSearchPage(item)"><i class="fa fa-tag"></i> {{ item }}</a></li>
			                                <!-- <li><a href=""><i class="fa fa-tag"></i> Social Network</a></li> -->
			                            </ul>
			                            <div class="clearfix"></div>
			                        </div>
			                    </div>
			                </div>
	            		</div>
	            	</div>
	            </div>
        	</div>

			<div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                        <div class="tabs-left">
	                        <ul class="nav nav-tabs" id="mainTab">
	                            <li class="active"><a data-toggle="tab" href="#tab-1" id="tab1"><i class="fa fa-circle text-info"></i> Ta的关注&nbsp;&nbsp;<span class="badge badge-info">{{ following_list_total }}</span></a></li>
	                            <li class=""><a data-toggle="tab" href="#tab-2" id="tab2"><i class="fa fa-circle text-warning"></i> 谁关注Ta&nbsp;&nbsp;<span class="badge badge-warning">{{ followed_list_total }}</span></a></li>
	                            <li class=""><a data-toggle="tab" href="#tab-3" id="tab3"><i class="fa fa-circle text-danger"></i> Ta的论文&nbsp;&nbsp;<span class="badge badge-danger">{{ paper_list_total }}</span></a></li>
	                            <li class=""><a data-toggle="tab" href="#tab-4" id="tab4"><i class="fa fa-circle text-muted"></i> 关系图</a></li>
	                        </ul>
	                        <div class="tab-content">
                             	<div id="tab-1" class="tab-pane active">
	                                <div class="panel-body">
	                                	<div class="col-md-12">
	                                		<div class="ibox-content">
		                            	        <div class="wrapper wrapper-content animated fadeInRight">
											        <div class="row">

														<div class="col-md-4" v-for="item in author_following_list">
											                <div class="contact-box" style="padding: 10px;">
											                    <a v-on:click="toPublicProfile(item.profile.id)">
												                    <div class="col-sm-5">
												                        <div class="text-center">
												                            <img alt="image" class="img-circle m-t-xs img-responsive" :src="item.profile.avatar" width="64px" height="64px">
												                            <div class="m-t-xs font-bold">{{ item.profile.education }}</div>
												                            <img alt="image" src="../static/common/img/male.png" width="20px" height="20px" style="margin: 0px 0px 2px 5px;" v-if="item.profile.gender==='0'">
												                        	<img alt="image" src="../static/common/img/female.png" width="20px" height="20px" style="margin: 0px 0px 2px 5px;" v-else>
												                        </div>
												                    </div>
												                    <div class="col-sm-7" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
												                        <h4>
												                        	<strong>{{ item.profile.name }}</strong>
												                        	
												                        </h4>
												                        <p><i class="fa fa-institution"></i> {{ item.profile.department }}</p>
												                        <p><i class="fa fa-map-marker"></i> {{ item.profile.address }}</p>
												                        <p><i class="fa fa-phone"></i> {{ item.profile.phone }}</p>
												                    </div>
												                    <div class="clearfix"></div>
										                        </a>
											                </div>
											            </div>
														
											        </div>
											    </div>
											</div>
										</div>
	                                </div>
	                            </div>
                             	<div id="tab-2" class="tab-pane">
	                                <div class="panel-body">
										<div class="col-md-12">
											<div class="ibox-content">
		                            	        <div class="wrapper wrapper-content animated fadeInRight">
											        <div class="row">

											            <div class="col-md-4" v-for="item in author_followed_list">
											                <div class="contact-box" style="padding: 10px;">
											                    <a v-on:click="toPublicProfile(item.profile.id)">
												                    <div class="col-sm-5">
												                        <div class="text-center">
												                            <img alt="image" class="img-circle m-t-xs img-responsive" :src="item.profile.avatar" width="64px" height="64px">
												                            <div class="m-t-xs font-bold">{{ item.profile.education }}</div>
												                            <img alt="image" src="../static/common/img/male.png" width="20px" height="20px" style="margin: 0px 0px 2px 5px;" v-if="item.profile.gender==='0'">
												                        	<img alt="image" src="../static/common/img/female.png" width="20px" height="20px" style="margin: 0px 0px 2px 5px;" v-else>
												                        </div>
												                    </div>
												                    <div class="col-sm-7">
												                        <h3>
												                        	<strong>{{ item.profile.name }}</strong>
												                        </h3>
												                        <p><i class="fa fa-institution"></i> {{ item.profile.department }}</p>
												                        <p><i class="fa fa-map-marker"></i> {{ item.profile.address }}</p>
												                        <p><i class="fa fa-phone"></i> {{ item.profile.phone }}</p>
												                    </div>
												                    <div class="clearfix"></div>
										                        </a>
											                </div>
											            </div>

											        </div>
											    </div>
											</div>
										</div>
	                                </div>
	                            </div>
	                            <div id="tab-3" class="tab-pane">
	                                <div class="panel-body">

						            	<div class="col-lg-12 animated bounce">
						            		<div class="ibox">
						            			<div class="ibox-content">
						            				<input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">

						                            <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
						                                <thead>
							                                <tr>
							                                    <th>Title</th>
							                                    <!-- <th>Venue</th> -->
							                                    <th>Year</th>
							                                </tr>
						                                </thead>

						                                <tbody >
							                                <tr v-for="item in paperList">
							                                    <td><a v-on:click="toPaperDetail(item.id)">{{ item.title }}</a></td>
							                                    <td>{{ item.year }}</td>
							                                </tr>
						                                </tbody>

						                                <tfoot>
							                                <tr>
							                                    <td colspan="2">
							                                        <ul class="pagination pull-right"></ul>
							                                    </td>
							                                </tr>
						                                </tfoot>
						                            </table>
						            			</div>
						            		</div>
						            	</div>
	                                    
	                                </div>
	                            </div>
	                            <div id="tab-4" class="tab-pane">
	                                <div class="panel-body">

						                <div class="col-lg-12">
						                    <div class="tabs-container">
						                        <ul class="nav nav-tabs" style="border-bottom: none;" id="chartTab">
						                            <!-- <li class="active"><a data-toggle="tab" href="#tab-7"> 论文关系图</a></li> -->
						                            <li class="active"><a data-toggle="tab" href="#chart2"> 作者关系图</a></li>
						                        </ul>
						                        <div class="tab-content">
<!-- 						                            <div id="tab-7" class="tab-pane active">
						                                <div class="panel-body" style="width: 100%;margin-left: 0%;">
						                                    <div id="paperGraph" style="height: 100%"></div>
						                                </div>
						                            </div> -->
						                            <div id="chart2" class="tab-pane active">
						                                <div class="panel-body" style="margin: 0;width: 100%;height: 500px;">
															<div id="coauthorGraph" style="height: 100%;width: 100%;"></div>
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						                </div>

						            </div>
	                            </div>
	                        </div>
                        </div>

                    </div>
                </div>
            </div>

		</div>
	</div>
            
    <script>
        $(document).ready(function(){

        	$('.footable').footable();
	        //关注
	      //   $(".followBtn").click(function(){
	      //   	if (this.innerText == " Follow") {
	      //   		$(this).html('<i class="fa fa-users"></i> Following');
	      //   		$(this).bind({
	      //   			mouseover: function(e) {
				   //          $(this).css("background-color", "#FF4500");
				   //          $(this).html('<i class="fa fa-user-times"></i> Unfollow');
				   //      },
				   //      mouseout: function(e) {
				   //          $(this).css("background-color", "#ffffff");
				   //          $(this).html('<i class="fa fa-users"></i> Following');
				   //      }
	      //   		});
	    		// }
	      //   	else {
	      //   		$(this).css("background-color", "#ffffff");
	      //   		$(this).unbind('mouseenter').unbind('mouseleave');
	      //   		$(this).html('<i class="fa fa-user-plus"></i> Follow');
	      //   	}
	      //   });
			$(".followBtn").each(function(){
				$(this).attr("disabled",true); 
			})

       });
    </script>

    <script type="text/javascript">
		//顶部用户信息显示
    	data1 = {
            loginStatus: [[Status.loginStatus|tojson]],
            {% if current_user.email %}
            firstName: [[current_user.first_name|tojson]],
            lastName: [[current_user.last_name|tojson]],
            email: [[current_user.email|tojson]],
            avatarSrc: [[current_user.avatar|tojson]]
            {% else %}
            firstName: "",
            lastName: "",
            email: "",
            avatarSrc: ""
            {% endif %}

            // loginStatus: true,
            // firstName: "张",
            // lastName: "三丰",
            // email: "11@qq.com",
            // avatarSrc: "../static/common/img/init.png"
        }
        var app1 = new Vue({
            el: '#status',
            data: data1
        });

        //作者信息
        var res = JSON.parse([[authorDetail|tojson]])
        data2 = {
        	author_name: res.name,
        	author_name_zh: '',
        	author_gender: res.gender,
        	author_degree: res.education,
        	author_department: res.department,
        	author_address: res.address,
        	author_telephone: res.phone,
        	author_avatarSrc: res.avatar,
        	authorID: res.id,
        	isFollow: res.isFollow,
        	tagSource: res.tags,
        	paperList: res.paper_list,
        	paper_list_total: res.paper_list.length,
        	loginStatus: [[Status.loginStatus|tojson]],
        	author_following_list: [],
        	author_followed_list: [],
        	following_list_total: '',
        	followed_list_total: '',
        }

        if (res.name_zh !== '') {
        	data2.author_name_zh = '(' + res.name_zh + ')'
        }
        if (res.avatar === '') {
        	data2.author_avatarSrc = '../static/avatar/init.png'
        }

        $.ajax({
    		url: '/api/get_follow',
    		type: 'POST',
    		data: {
    			id: res.id
    		},
    		success: function(data) {
    			var res = JSON.parse(data);
    			if (res.result === "success") {
					for (var i=0;i<res.follow.length;i++) {
    					data2.author_following_list.push({
    						profile: res.follow[i].profile
    					})
    				}
    				
    				for (var i=0;i<res.followed.length;i++) {
    					data2.author_followed_list.push({
    						profile: res.followed[i].profile
    					})
    				}

    				data2.following_list_total = res.follow.length
    				data2.followed_list_total = res.followed.length
    			}
    		},
    		error: function() {
    			console.log("getFollowList,error");
    		}
    	});

        var app2 = new Vue({
        	el: '#author_profile',
        	data: data2,
        	methods: {
        		toFollow: function(publicID) {
        			var that = this
        			$.ajax({
			    		url: '/api/to_follow',
			    		type: 'POST',
			    		data: {
			    			id: publicID
			    		},
			    		success: function(data) {
			    			var res = JSON.parse(data);
			    			if (res.result === "success") {
			    				that.isFollow = true;
			    				swal("关注成功! ", "", "success");
			    			}
			    			else {
			    				swal("关注失败! ", "请重新关注! ", "error");
			    			}
			    		},
			    		error: function() {
			    			swal("请求关注失败! ", "请重新关注! ", "error");
			    		}
			    	});
        		},
        		toUnfollow: function(publicID) {
        			var that = this
        			$.ajax({
			    		url: '/api/cancel_follow',
			    		type: 'POST',
			    		data: {
			    			id: publicID
			    		},
			    		success: function(data) {
			    			var res = JSON.parse(data);
			    			if (res.result === "success") {
			    				that.isFollow = false;
			    				swal("取消关注成功! ", "", "success");
			    			}
			    			else {
			    				swal("取消关注失败! ", "请重新取消关注! ", "error");
			    			}
			    		},
			    		error: function() {
			    			swal("请求取消关注失败! ", "请重新取消关注! ", "error");
			    		}
			    	});
        		},
        		toSearchPage: function(searchContent) {
        			window.open("/api/search?type=paper" + "&content=" + searchContent + "&p_page=1&a_page=1")
        		},
        		toPaperDetail: function(ID) {
        			window.open("/api/to_paper_detail?id=" + ID)
        		}
        	}
        });

    	// 跳到tab
    	$("#toTab1").click(function(){
    		$("#tab3").click();
    	});
    	$("#toTab2").click(function(){
    		$("#tab1").click();
    	})
    	$("#toTab3").click(function(){
    		$("#tab2").click();
    	})

    	/*mainTab标签页请求*/
    	$('#mainTab a[data-toggle="tab"]').on('show.bs.tab', function(e) {

    		if ($(e.target).attr("id") === "tab1") { //Ta的关注页
    			console.log($(e.target).text());
    		}
    		else if ($(e.target).attr("id") === "tab2") { //谁关注Ta页
    			console.log($(e.target).text());
    		}
    		else if ($(e.target).attr("id") === "tab3") { //Ta的论文页
    			console.log($(e.target).text());
    		}
    		else if ($(e.target).attr("id") === "tab4") { //关系图页
    			getExpertNetwork();
    			console.log($(e.target).text());
    		}
    	});
        
    </script>

    <script type="text/javascript">
		//作者关系图
        var dom2 = document.getElementById("coauthorGraph");
        var myChartGraph2 = echarts.init(dom2);
        // var app = {};
        option2 = null;
        // app.title = '作者关系图';

        var sendData2 = {"name": res.name}
       	myChartGraph2.resize({width: 798, height: 458});
        myChartGraph2.showLoading();

        function getExpertNetwork() { 

        	
	        $.ajax({
	        	url: "/api/expert_network",
	        	type: "POST",
	        	data: sendData2,
	        	success: function(data){
		        	myChartGraph2.hideLoading();

		        	var graph = JSON.parse(data);

	 				var years = [];
					for (var i=0;i<graph.length;i++){
	 					years.push(graph[i].year);
					}

		        	for (var i=0;i<graph.length;i++){
			        	graph[i].nodes.forEach(function(node){
			        		if (node.name === sendData2.name) {
			    		        node.itemStyle = {
			    		        	color: '#66CCFF'
			    		        };
			        		}
			        		else {
			    		        node.itemStyle = {
			    		        	color: '#FF3030'
			    		        };
			        		}						        
			        		// node.symbolSize = 10;
					        // node.value = node.symbolSize;
					        // node.category = node.attributes.modularity_class;
					        // Use random x, y
					        node.x = node.y = null;
					        node.draggable = false;
					        node.label = {
					        	show: true,
					        	position: 'bottom'
					        }
					        node.tooltip = {           
					        	position: function (point, params, dom, rect, size) {
					                $(dom).html('<div class="contact-box" style="color: #676a6c;background-color: #F0FFFF;padding: 10px;width: 120%;"><div style="width: 40%;float: left;"><div class="text-center" style="text-align: center;"><img alt="image" class="img-circle m-t-xs img-responsive" src="../static/common/img/init.png" width="64px" height="64px"><div class="m-t-xs font-bold">博士</div></div></div><div style="width: 60%;float: left;"><h4><strong>'+ node.name +'</strong><img alt="image"\ src="../static/common/img/female.png" width="20px" height="20px" style="margin: 0px 0px 2px 5px;"></h4><p><i class="fa fa-institution"></i> 华南理工大学</p><p><i class="fa fa-map-marker"></i> 广州大学城</p><p><i class="fa fa-phone"></i> 1377777777</p></div><div class="clearfix"></div></div>')
					            },
					            backgroundColor: '#FFFFFF'
					        }
			        	})
			        	graph[i].links.forEach(function(link) {
			        		link.lineStyle = {
			        			width: link.values,
			        			color: '#000000'
			        		}
			        	})
		        	}

		        	var optionInit = []
		        	for (var i=0;i<graph.length;i++){
		        		var nodeItem = {title: {}, series:[{}]}
		        		nodeItem.title.text = years[i] + ''
		        		nodeItem.series[0].data = graph[i].nodes
		        		nodeItem.series[0].links = graph[i].links
		        		optionInit.push(nodeItem)
		        	}

	        	    option2 = {
	        	    	baseOption: {

	        	    		timeline: {
					            // y: 0,
					            axisType: 'category',
					            // realtime: false,
					            // loop: false,
					            autoPlay: false,
					            // currentIndex: 2,
					            // playInterval: 1000,
					            // controlStyle: {
					            //     position: 'left'
					            // },
					            data: years,
					            label: {
					                // formatter : function(s) {
					                //     return (new Date(s)).getFullYear();
					                // }
					            }
					        },
					        title: {
					            subtext: '',
					            top: 'bottom',
					            left: 'right'
					        },
					        tooltip: {},
					        toolbox: {
					        	show: true,
					        	feature: {
					        		dataView: {readOnly: true},
					        		restore: {},
					        		saveAsImage: {}
					        	}
					        },
					        legend: {
					            // selectedMode: 'single',
					            data: ["Martin Ester"]
					        },
					        animation: false,
					        series : [
					            {
					                name: '',
					                type: 'graph',
					                layout: 'force',
					                roam: true,
					                forceNodeAdjacency: true,
					                cursor: 'pointer',
					                label: {
					                    normal: {
					                        position: 'right'
					                    }
					                },
					                force: {
					                    repulsion: 100
					                }
					            }
					        ]
					    },
					    options: optionInit
				    };

				    myChartGraph2.setOption(option2);
				    myChartGraph2.resize();
	        	},
	        	error: function (errorMsg) {
		            //alert("图表数据加载失败！");
		        }
	        });
        }

        $('#chartTab a[data-toggle="tab"]').on('shown.bs.tab', function(e) {  
            // myChartGraph1.resize();
            myChartGraph2.resize();
	    });         
	    window.onresize = function() {
        	// myChartGraph1.resize();
        	myChartGraph2.resize();
        }
    </script>

    <div id="return-top" style="position: fixed;right: 1%;bottom: 4%;z-index: 99;">
	    <a onclick="backToTop()">
	        <img src="../static/common/img/return-top.png" title="返回顶部">
	    </a>
    </div>
    <script type="text/javascript">
    	function backToTop() {  
		    $('html,body').animate({  
		        scrollTop: 0  
		    }, 800);  
		}

		$(window).on('scroll', function () {
		    if ($(window).scrollTop() > $(window).height())  
		        $("#return-top").fadeIn();  
		    else  
		        $("#return-top").fadeOut();  
		});  
		$(window).trigger('scroll');
    </script>
</body>
</html>