<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>641大百科</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/stylesheets/mycss/cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">641大百科</h3>
              <ul class="nav masthead-nav">
                {% if current_user.is_active %}
                <li><a href="#">欢迎您，{{ current_user.name }}</a></li>
                <li><a href="/user/add">添加词条</a></li>
                <li><a href="/api/logout">注销</a></li>
                {% else %}
                <li><a href="/user/login">登录</a></li>
                {% endif %}
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <form action="/user/search" method="post">
              <h1 class="cover-heading">Please enter the searching content</h1>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul class=flashes>
                  {% for message in messages %}
                  <li class="error" style="color:red;">{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
              {% endwith %}
              <input class="lead" type="text" style="color:black;" id="searchtext" name="searchtext" required autofocus></input>
              <p class="lead1"><button class="btn btn-lg btn-default">search</button></p>
            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>All rights reserved by 641</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/javascripts/jquery-1.11.3.min.js"></script>
    <script src="../static/javascripts/bootstrap.min.js"></script>
    <script src="../static/javascripts/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>
</html>
